@import "../../colors1";
.wrap {
  border: none;
  background: transparent;
  width: auto;
}
.icon {
  font-size: 24px;

  path {
    stroke: $main-dark-blue;
    fill: transparent;
    transition: all 0.3s ease;
  }
  &:hover {
    path {
      stroke:  $secondary-bright-blue;
      fill: $secondary-bright-blue;
    }
  }
  &.active {
    path {
      stroke: $main-dark-blue;
      fill: $main-dark-blue;
    }
  }
}