@import "../../colors";

.icon {
  font-size: 24px;

  path {
    stroke: $secondary-dark-blue;
  }
  &:hover {
    path {
      fill: $main-bright-blue;
    }
  }
  &.active {
    path {
      fill: $secondary-dark-blue;
    }
  }
}