@import "../../colors";

.wrap {
  margin-bottom: 1em;

  font-size: 1.25rem;
  color: $main-dark-blue;
  text-align: center;
}

@media (min-width: 768px) {
  .wrap {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .wrap {
    font-size: 2rem;
  }
}