.wrap {
  box-shadow: 0 1px 2px 0 #0000001a;
}
.info {
  display: flex;
  margin-bottom: 15px;

  word-break: break-word;

  img {
    max-width: 154px;
    height: fit-content;
    margin-right: 10px;
  }

  .rate {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}