@import "../../colors";
.wrap {
  position: relative;
}
.wrap .menuOpen {
  display: block;
  width: 100%;
  padding: 10px;
}
.open-item {
  cursor: pointer;
  background-color: $secondary-bright-blue;
}