@import "../../colors";

.info {
  display: flex;
  margin-bottom: 15px;

  position: relative;

  word-break: break-word;

  img {
    width: 50%;
    height: fit-content;
    margin-right: 10px;
  }

  .rate {
    position: absolute;
    top: -5px;
    left: -5px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}
