@import "../../colors";
.wrap {
  min-height: 100vh;;
  background-color: $main-bright-blue;
}

.cardWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poster {
  width: 100%;
  padding: 20px;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;

    height: 101%;
    width: 101%;

    left: -1px;
    top: 0;
    background: linear-gradient(to right, $main-bright-blue 2%, rgba(223, 224, 255, 0.2), rgba(224, 224, 233, 0.2) 70%, $main-bright-blue 98%);
  }

  img {
    width: 60%;
    position: relative;
    padding: 0.5rem;

    border: 1px solid grey;
    box-sizing: border-box;
  }
}

.infoWrap {
  position: relative;
  padding: 20px 30px;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    bottom: -1px;
    left: -1px;

    background: $main-bright-blue
  }

  h2 {
    font-weight: 700;
    color: $main-dark-blue;
  }

}
.displayWrap {
  display: flex;
}

.info {
  position: relative;
}

.infoDetails {
  display: flex;
  flex-direction: column;
  color: #1b2250;

  &:first-of-type {
    flex-direction: column;
  }

  h5 {
    margin-right: 15px;
    font-weight: normal;
    word-break: break-word;
  }

  &:last-child {
    flex-direction: row;
  }
}
.subtitleWrap {
  display: flex;
  align-items: center;

  svg {
    margin-right: 2px;
    font-size: 22px;
  }
}
.footer {
  justify-content: space-between;
  align-items: center;

  h5 {
    margin-bottom: 0;
  }
}
.marginR {
  margin-right: 5px;
}
.genres {

  &::after {
    content: ",";
  }

  &:last-child {
    margin-right: 0;

    &::after {
      content: "";
    }
  }
}
.tagline {
  font-style: italic;
  color: #5d666e;

  &::before {
    content: open-quote;
    padding-right: 5px;
  }
  &::after {
    content: close-quote;
    padding-left: 5px;
  }
  &::before, &::after {
    font-size: 1.5rem;
  }
}
.year {
  font-weight: 500;
  margin-left: 10px;
}
.rate {
  margin-left: 15px;
}

@media (min-width: 576px) {
  .poster {
    img {
      width: 30%;
    }
  }
  .infoDetails {
    flex-direction: row;
  }
}

@media (min-width: 768px) {

  .wrap {
    margin: 0;
    padding: 50px 0;
  }

  .cardWrap {
    flex-direction: column-reverse;
  }

  .poster {
    margin: auto;
    padding: 0;
    height: 441px;
    width: 40%;

    &::before {
      background-color: $main-bright-blue;
    }

    img {
      width: 100%;
      margin-top: -3rem;
      z-index: 1;
    }
  }

  .infoWrap {
    width: auto;
    height: 439px;

    border-top: 5px solid $secondary-dark-blue;
    border-radius: 5px;

    &::before {
      background: linear-gradient(to right, $main-bright-blue 1%, rgba(223, 224, 255, 0.8), rgba(224, 224, 233, 0.8) 70%, $main-bright-blue 98%);
    }

  }
}

@media (min-width: 992px){

  .wrap {
    margin: 50px auto;
    padding: 0;
    height: auto;
    min-height: auto;
  }

  .cardWrap {
    flex-direction: row;
  }

  .poster {
    margin: 0;
    width: auto;

    &::before {
      height: 100%;
    }

    img {
      height: 466px;
      width: auto;
      max-width: initial;

      margin-top: -0.85rem;
    }
  }

  .infoWrap {
    width: 780px;
    height: auto;
    border: none;

    &::before {
      bottom: 0;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  .infoDetails {

    &:first-of-type {
      flex-direction: row;
    }

    h5 {
      font-size: 1.125rem;
    }
  }

  .tagline {
    font-size: 1.125rem;
  }

  .subtitleWrap {
    svg {
      font-size: 1.125rem;
    }
  }
}

@media (min-width: 1200px) {
  .infoWrap {
    h2 {
      font-size: 2rem;
    }
  }

  .infoDetails {
    h5 {
      font-size: 1.25rem;
    }
  }

  .tagline {
    font-size: 1.25rem;
  }

  .subtitleWrap {
    svg {
      font-size: 1.25rem;
    }
  }

}

