.wrap {
  p {
    text-align: left;
  }
}
.buttonWrap {
  position: relative;
  height: 31px;
  width: 150px;

  & button {
    width: 160px;
    display: none;

    svg {
      display: none;
      margin-left: 5px;
      font-size: 1rem;
    }
  }

  &.open {
    button {
      display: block;
    }
  }

  & .active {
    display: block;

    svg {
      display: inline-block;
    }
  }
}

.buttonContainer {
  position: absolute;
  z-index: 20;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;

  background-color: #ffffff;
}

@media (min-width: 576px){
  .buttonWrap {
    height: auto;
    width: auto;

    & button {
      display: block;
      width: auto;
    }

    & .active {
      svg {
        display: none;
      }
    }
  }

  .buttonContainer {
    position: static;
    flex-direction: row;
  }
}
